
body {
    background-color: rgb(48, 143, 180);
    font-family: sans-serif;
    
 }
h1 {
   margin-left: 110px;
 }
 .back_color {
   display:flex;
   flex-direction: column;
}

.back_color div {
   width: 300px;
   height: 100px;
   background-color: #808080;
   margin-bottom: 20px;
   border-radius: 10px;
}
 
 button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
   
 }
